.heroSection {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #000000 8.14%, rgba(0, 0, 0, 0) 54.32%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 76.24%, #000000 94.69%);
    z-index: 1;
}